*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: #666;
}
#currenciesFlexContainer {
    gap: 60px;
    padding-top: 0 40px 40px 40px;
    justify-content: center;
    margin: 40px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}
#currency { 
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    width: 280px;
    height: 350px;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;

    width: 100%;
    height: 80px;
    background-color: #fff;
    color: #eae9e4;
}
#text {
    font-size: 18px;
    height: 60px;
    padding: 5px 15px 15px;
    text-align: center;
    width: 100%;
    color: #666;
}
button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 160px;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 40px 40px;
    text-align: left;
    background-color: #fff;
    color: #666;
}
#sub {
    position: absolute;
    font-size: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    
} 
#title {
    color: #666;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    font-size: 18px;
    padding: 40px 40px 0 40px;
}
.material-icons {
    color:#666;
}
#symbolContainer {
    background-color: #666;
    margin: 40px auto;
    position: relative;
    height: 160px;
    width: 160px;
    border-radius: 50%;
}
hr {
    width: auto;
}

#menuContainer {
    margin-right: 30px;
    position: relative;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #666;
}
#menu {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
